/* Font styles  */

.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */
*{
    margin: 0;
}
button{
    cursor: pointer;
    font-family: "Quicksand";
    font-weight:bold;
}
.display-flex{
    display: flex;
}

:root{
    --primary-color:#FEA301;
    --secondary-color:#01ACFD;
}

.text-primary
{
    color: var(--primary-color);
}
.text-secondary{
    color: var(--secondary-color);
}

.sec-title{
    font-weight: bold;
    font-size: 2.8rem;
}

/* Nav-bar related styles */
header
{
    padding: 1.2rem 6rem;
    
}

.nav-bar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:0 1.7rem;
}
.nav-left{
    align-items: center;
}
.nav-item{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    transition: transform 0.5s;
}
.fac{
    color: #05D4DF;
}
.adm{
    color:#5D58EF;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-btn{
    color: #F0F8FF;
    border: none;
    padding: 0.75rem 3rem;
    border-radius: 0.75rem;
    font-weight: 800;
    font-size: medium;
    background-color: var(--primary-color);
    transition: background-color 0.7s, transform 0.7s;
}
.nav-link{
    text-decoration: none;
}

.nav-title{
    font-weight: 800;
    font-size: 1.8rem;
}
.nav-menu{
    display: none;
}

/* Banner related styles */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ban-details{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
.ban-heading{
    font-size: 3rem;
}

.ban-para{
    font-size: 1.1rem;
}
.enroll-btn{
    background-color: #222;
    color: #DDD;
    width: fit-content;
    padding: 0.75rem 2.5rem;
    border: none;
    border-radius: 0.75rem;
    font-size: medium;
    font-weight: 800;
    transition: background-color 0.7s, color 0.7s;
}

/* Curriculum section */
.curriculum
{
    background-image: url(../assets/bg.png);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 6rem;
}
.curriculum h2{
    text-align: center;
}
.curi-cls
{
    display: flex;
    gap: 1.5rem;
}
.curi-cls div
{
    width: calc(100% - 2rem);
    border: 1px solid lightgray;
    border-radius: 1.4rem;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    box-shadow: 2px 2px 5pt #555;
    transition: transform 0.5s;
}


.curi-cls div:nth-child(1)
{
    background: linear-gradient(to top, #FFF, #DEF5FF);
}
.curi-cls div:nth-child(2)
{
    background: linear-gradient(to top, #FFF, #FFF4DC);
}
.curi-cls div:nth-child(3)
{
    background: linear-gradient(to top, #FFF, #F2E8FF);
}

.curi-cls div:nth-child(1) button
{
    color: #01ACFD;
    background-color: #FAFDFF;
}
.curi-cls div:nth-child(2) button
{
    color: #FE8301;
    background-color: #FFFDF9;
}
.curi-cls div:nth-child(3) button
{
    color: #8700FF;
    background-color: #FDFBFF;
}

.curi-cls div img
{
    width: 125px;
}

.curi-cls div button
{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    transition: transform 0.5s;
}

.npre-btn
{
    display: flex;
    gap: 1.5rem;
    margin: auto;
}
.npre-btn button
{
    background-color: #FEA301;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    transition: box-shadow 0.5s;
}


/* Hover Effects */

.nav-item:hover
{
    transform: scale(1.35);
}
.nav-btn:hover
{
    background-color: var(--secondary-color);
    transform: rotate(360deg);
}

.enroll-btn:hover
{
    background-color: #454545;
    color: #FFF;
}

.curi-cls div:hover
{
    transform: translateY(-2.5rem) rotate(5deg);
}
.npre-btn button:first-child:hover
{
    box-shadow: -3px 0 5px #444;
}
.npre-btn button:last-child:hover
{
    box-shadow: 3px 0 5px #444;
}
/* Stories section styles */
.stories-part{
    background: linear-gradient(to bottom, #fff,rgba(254,163,1,0.4));
    
}
.stories{
    background-image: url(../assets/bg.png);
    background-position: center;
    background-size: contain;
    padding: 3.7rem 6rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
}
.story1{ grid-area:toodler}
.story2{ grid-area:family}
.story3{ grid-area:kids}
.story4{ grid-area:tutor}
.story5{ grid-area:improvement}

.story-grid{
    display: grid;
    grid-template-areas: 
    'toodler family kids'
    'toodler tutor improvement';
    gap:1rem;
}
.common{
    width: min-content;
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    /* z-index: 1; */

}
.common img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.common h3, .common p{
    margin: 1.5rem;
}
.common h4{
    position: absolute;
    color: #fff;
    display: inline-block;
    padding: .5rem 1rem;
    width: fit-content;
    /* z-index: 2; */
    left: 2.5rem;
    border-radius: 2rem;
    font-size: 1 rem;
    font-weight: 500;
}

.story1 h4{
    background-color: var(--secondary-color);
    top: 320px;
}
.story2 h4{
    background-color: #95B226;
    top: 160px;
}
.story3 h4{
    background-color: #5D58F0;
    top: 160px;
}
.story4 h4{
    background-color: #95B226;
    top: 165px;
}
.story5 h4{
    background-color: #95B226;
    top: 165px;
}

/* Footer styles */

footer{
    display: flex;
    justify-content:space-around;
    gap: 1.2rem;
    background-color: var(--secondary-color);
    padding: 8rem 12rem 10rem 6rem; 
    color: #FFF;
}
footer>div{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.foot-logo{
    display: flex;
    gap:.5rem;

}

.foot-logo h2{
    font-size: 2rem;
}
.footer-links div{
    display: flex;
    flex-direction: column;
    gap:1.25rem;
}
.kids-education{
    max-width: 30%;
}



/* Responsive section */
@media screen and (max-width: 576px) {
    header
    {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap:1.2rem;
    }
    body header nav ul li, nav > a,body header nav div h3, .ban-heading h3
    {
        display: none;
    }
    header nav .ban-heading img
    {
        width: 3rem;
    }
    header nav .nav-menu
    {
        display: inline-block;
    }  
    
    header .nav-bar{
        border-bottom: 1pt solid var(--primary-color);
        padding: 1rem 1rem;
    }
    
    .banner
    {
        flex-direction: column-reverse;
        margin: 0 1rem;
        gap: 1rem;
    }
    .ban-details
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .ban-details h1
    {
        font-size: xx-large;
    }
    .ban-details button
    {
        font-size: larger;
        padding: 0.75rem 2rem;
    }
    .banner img
    {
        width: 100%;
    }
    .sec-title{
        font-size: 1.65rem;
        font-weight: 800;
    }
    /* Curriculum part */
    .curriculum
    {
        padding: 3rem 1rem;
    }
    .curi-cls
    {
        flex-direction: column;
    }
    .npre-btn
    {
        display: none;
    }

    /* Stories section styles */
    .story1{
        display: none;
    }

    .stories-part{
        padding: 0 1rem;
    }
    .stories{
        margin: 0 auto;

    }
    .common img{
        width: 185px;
    }

    .story-grid{
        display: grid;
        grid-template-areas: 
        'family kids'
        'tutor improvement';
    }

    .story2 h4{
        background-color: #95B226;
        top: 100px;
        left: 25px;
    }
    .story3 h4{
        background-color: #5D58F0;
        top: 100px;
        left: 25px;
    }
    .story4 h4{
        background-color: #95B226;
        top: 100px;
        left: 25px;
    }
    .story5 h4{
        background-color: #95B226;
        top: 100px;
        left: 25px;
    }
    .common h4{
        font-size: .8rem;
    }
    .common h3{
        font-size: .8rem;
    }
    .stories .enroll-btn{
        margin-bottom: 1.8rem;
    }
    


    /* Footer styles */
    footer{
        padding: 3rem 1rem;
        flex-direction: column;
        gap: 3.5rem;
    }
    .kids-education{
        max-width: 100%;
    }
}